<% include partials/header %>
<% include partials/nav %>
<div class="container-fluid principalBackground cardGame">
  <div class="row justify-content-center align-items-center" style="height:93vh">
    <div class="col-12 col-sm-auto">
      <img src="https://cdn.dribbble.com/users/1109828/screenshots/3010579/comingsoondribbble.gif" class="img-fluid" alt="Responsive image">
    </div>
  </div>
</div>
<% include partials/footer %>
